<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GroupGroupsMapper">

    <select id="queryGroupGroupsList" resultType="GroupToGroups">
        select * from grouptogroups
    </select>

    <select id="searchGroupByGroupsIs" resultType="GroupToGroups">
        select * from grouptogroups
        where groupsId = #{groupsId}
    </select>

    <select id="searchGroupsByGroupId" resultType="GroupToGroups">
        select * from grouptogroups
        where groupId = #{groupId}
    </select>

    <insert id="addGroupGroups" parameterType="GroupToGroups">
        insert into grouptogroups(groupsId, groupId)
        values(#{groupsId}, #{groupId})
    </insert>

    <delete id="deleteGroupGroups" parameterType="GroupToGroups">
        delete from grouptogroups
        where groupsId = #{groupsId} and groupId = #{groupId}
    </delete>

</mapper>