<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from userinf
    </select>

    <select id="searchUserByName" resultType="User">
        select * from userinf where userName = #{userName}
    </select>

    <select id="searchUserById" resultType="User">
        select * from userinf where userId = #{userId}
    </select>

    <select id="searchUserByEmail" resultType="User">
        select * from userinf where userEmail = #{userEmail}
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into userinf (userName, userEmail, userPassword)
        values(#{userName}, #{userEmail}, #{userPassWord});
    </insert>

    <update id="updateUser" parameterType="User">
        update userinf set userName = #{userName}, userPassword = #{userPassWord},
                           userEmail = #{userEmail}, userPhoneNumber = #{userPhoneNumber},
                           userIcon = #{userIcon}, userRealName = #{userRealName},
                           userCareer = #{userCareer}, userUnit = #{userUnit},
                           userBirthday = #{userBirthday}, userlocation = #{userLocation},
                           userUrl = #{userUrl}
        where userId = #{userId}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from userinf where userId = #{userId}
    </delete>

</mapper>